

body {
	background-color: #265175;
	font-family: arial, sans-serif;
	margin: 0;  /* Gets rid of margins of gaps on the side for the full width sections at the bottom */
}

#container {
	width: 970px;
	margin: 0 auto;  /*To center everything in the layout */
}

/*--Main Nav --*/

ul.main-nav {
	width: 920px;
	height: 43px;
	padding-top: 15px;
	text-align: center;
	font-size: 22px;
	border-radius: 10px;
	box-shadow: 2px 2px #1F1F1F;
	 background: #3877AB; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#3877AB, #497FAB); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#3877AB, #497FAB); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#3877AB, #497FAB); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#3877AB, #497FAB); /* Standard syntax */
}

ul.main-nav li {
	display: inline-block;
	padding-right: 40px;
}

ul.main-nav li a {
	text-decoration: none;
	color: #fff;
}

ul.main-nav li a:hover {
	color: yellow;
}


/*-- Top Body Block Sections --*/

/* Right Section Text Under the Nav */
.right-block {
 display: inline-block;
 width: 587px;
  height: 427px;
  color: #fff;
  margin-bottom: 35px;
}

.right-block p {
	padding: 10px;
	text-align: center;
}

.intro {
	font-size: 18px;
}

.yellow-large {
	color: #FFD343;
	font-size: 25px;
	line-height: 1px;
}

.zen {
	color: #fff;
	font-size: 25px;
	line-height: 1px;
}

/* Left Section are the Links Docs, Audio, ... */

.left-block{
 display: inline-block;
 vertical-align: top;   /* FIXES the gap above the div when the lev nav inside is included */
 width: 372px;
 height: 427px;
}


ul.left-nav {
  list-style: none;
  font-size: 22px;
}

ul.left-nav li {
	text-align: center;
	padding-right: 40px;
	line-height: 40px;
}

ul.left-nav li:before {
		 content: "\00BB \0020";
		 color: #FFD343;
	     }

ul.left-nav li a {
	color: #fff;
}


ul.left-nav li a:hover {
	color: yellow;
}

/*-- Bottom Body Block Sections --*/

#btm-body {
background-color: white;
width: 100%;
text-align: center;
margin-bottom: 30px;
}

#btm-body a {
	color: #75A8D3
}

.blocks {
 display: inline-block;
 vertical-align: top;  /* keeps both blocks vertically even */
 width: 480px;
  height: 300px;
  padding-bottom: 60px;
}

hr {
	background-color: #75A8D3;
	font-weight: bold;
	height: 6px;
	border: 0;
}

ul.square-list {
text-align: left;
}

ul.square-list li {
	font-size: 20px;
	list-style-type: square;
	list-style-position: inside;  /* Moves the bullets close to the text! */
}







