
html {
		height: 100%;
}

body {
	margin: 0; /* Removes margins around layout sections so they can be full width */
	background:  #68525D;
    background: -webkit-linear-gradient(#1F0E13, #68525D, #1F0E13); /* For Safari */
    background: -o-linear-gradient(#1F0E13, #68525D, #1F0E13); /* For Opera */
    background: -moz-linear-gradient(#1F0E13, #68525D, #1F0E13); /* For Firefox */
    background: linear-gradient(#1F0E13, #68525D, #1F0E13); 
    font-family: Arial, Helvetica, sans-serif;
}

/* Top Header Section */

#main-title {
	height: 62px;
	background-color: #F7F7F7;
	padding: 10px;
	color: #000;
}

#name {
	float: left;
}

#tagline {
	float: right;
	margin-right: 60px;
}

/* Intro Section */


#portrait {
	width: 42%;  /* Makes it responsive for all screen sizes */
    right: 140px;
    position: relative;
    margin-top: 25px;
    border: 6px solid #C0C0C0;
}


#about {
	width: 44%; 
    height: auto;
    position: absolute;  /* Prevents the div from moving up and down on different screen resolutions */
    margin-top: 23px;
    right: 90px;
    display: inline-block;
    background-color: #F7F7F7;
    font-size: 20px;
}

#about p {
	padding: 10px;
}


a {
	color: #000;
}

/*  --- Applies to all sections ---*/

.header-box {
  top: 0;  /*To stay at the top with no gap */
  width: 100%;
  height: 40px;
  right: 1px;
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  background:  #B0B0B4;
  background: -webkit-linear-gradient(#AFAFB3, #898795, #B0B0B4); /* For Safari */
  background: -o-linear-gradient(#AFAFB3, #898795, #B0B0B4); /* For Opera */
  background: -moz-linear-gradient(#AFAFB3, #898795, #B0B0B4); /* For Firefox */
  background: linear-gradient(#AFAFB3, #898795, #B0B0B4); 

}


.top-paragraph {
	margin-top: 40px;
}

/* ----Portfolio Section ---*/


#portfolio-wrapper {
	display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px; 
    margin-top: 30px;
}

.portfolio-blocks {
	display: table-cell;
	width: 289px;
	height: auto;
	background:  #DDCFDC;
  background: -webkit-linear-gradient(#FFF, #DDCFDC); /* For Safari */
  background: -o-linear-gradient(#FFF, #DDCFDC); /* For Opera */
  background: -moz-linear-gradient(#FFF, #DDCFDC); /* For Firefox */
  background: linear-gradient(#FFF, #DDCFDC); 
  text-align: center;
  padding-bottom: 30px;
}

.tech-logos li {
display: inline-block;
margin-right: 10px;
}

.tech-logos li {
	display: inline-block;
	margin-right: 10px;
}

.tech-logos img {
	width: 40px;
	height: 40px;
}

.pbtn {
	background-color: #407D61;
	color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 2px 3px #8E8E8E;
	text-decoration: none;
	padding: 10px;
}







